<!DOCTYPE html>
<html>

<head>
    <title>Pokédex</title>
    <link rel="stylesheet" type="text/css" href="/public/assets/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="/public/assets/img/favicon.png">
</head>

<body>
    <div class="container">
        <div class="left-screen">
            <div class="left-screen-bottom">
                <div class="main-screen">