<div class="right-screen">
    <div class="right-screen-top">
        <form action="/pokemon" method="GET">
            <div>
                <input name="pokemon" class="info-input" type="text" placeholder="Search Pokémon Name or ID">
            </div>
        </form>
    </div>
    <div class="right-screen-middle">
        <div class="info-container">
            <section class="info-screen">
                <div class="info">
                    <div class="label">generation: --</div>
                </div>
                <div class="info">
                    <div class="label">hp: --</div>
                </div>
                <div class="info">
                    <div class="label">legendary: --</div>
                </div>
                <div class="info">
                    <div class="label">attack: --</div>
                </div>
                <div class="info">
                    <div class="label">height: --</div>
                </div>
                <div class="info">
                    <div class="label">defense: --</div>
                </div>
                <div class="info">
                    <div class="label">weight: --</div>
                </div>
                <div class="info">
                    <div class="label">speed: --</div>
                </div>
                <div class="info">
                    <div id="abilities" class="label">abilities: --</div>
                </div>
                <div class="info">
                    <div id="classification" class="label">classification: --</div>
                </div>
            </section>