<!DOCTYPE html>
<html>

<head>
    <title>Pokédex!</title>
</head>

<body>
    <div>
        <div>
            <h1 style="text-align: center;">POKÉDEX</h1>
            <h2 style="text-align: center;">Qual Pokémon você procura?</h2>

            <div style="width: 30%; margin: 25px auto;">
                <form action="/" method="POST">
                    <div>
                        <input style="width: 100%; text-align: center;" type="text"
                            placeholder="Search Pokémon Name or ID">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>