<%- include("partials/header"); -%>

    <div id="display" class="main-screen-display">
        <div class="pokemon-number">#</div>
        <div class="pokemon-name">name: --</div>
        <div class="pokemon-image"><img src="" alt=""></div>
        <div class="not-found-message"></div>
        <div class="pokemon-types">type(s): --</div>
    </div>
</body>
    </div>
    </div>
    </div>

    <%- include("partials/rightScreenHome"); -%>

</html>