<%- include("partials/header"); -%>

    <div id="display" class="main-screen-display">
        <div class="not-found-message">pokémon not found</div>
    </div>
    </div>
    </div>
    </div>

    <%- include("partials/rightScreenHome"); -%>

        <%- include("partials/footer"); -%>